<!doctype html>
<html>

<head>
  <meta charset = "utf-8" />
  <title> Movie review generator </title>
  <link rel = "stylesheet" href = "static/style.css">
</head>

<body>
  <div class = "container">
    <h1> Movie review generator </h1>

    <label for = "textBox"> Write your own words or press TAB to autogenerate! </label>
    <textarea id = "textBox" placeholder = "Try a starting phrase..."></textarea>

    <button id = "generateBtn"> Generate </button>

  </div>

  <script src = "static/script.js " ></script>
</body>

</html>